body{
    margin: 0;
}

img{
    width: 100%;
}

#space{
    margin-bottom: 80px;
}

.header {
    height: 100%;
    background-image: url("./../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30px;
}

.nav{
    height: 70px;
    margin: 30px;
    padding-top: 30px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
}

.nav a:hover{
    color: brown;
}

#logo {
    float:left;
    width: 200px;
    margin-left: 30px;
}

#navlist {
    float: right;
}

li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.header .txt{
    text-align: center;
    color: white;
}

.txt p{
    font-size: 30px;
}

.txt h1{
    font-size: 50px;
}

button{
    text-align: center;
    padding: 15px 30px;
    border: 2px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.txt #btn1{
    background-color: brown;
}

.txt #btn2{
    background-color: transparent;
    border-style: double;
}

.scroll{
   text-align: center
}

.scroll a{
    width: 32px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 24px;
    border-style: double;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.whoweare img{
    width: 500px;
    float: left;
    clear: left;
}

.location img{
    width: 500px;
    float: right;
    clear: right;
}

.whoweare .text{
    padding-left: 60px;
    width: 60%;
}

.location .text{
    width: 60%;
    padding-right: 50px;
}
.text p{
    font-size: 20px;
}
.whoweare{
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 90px;
    display: flex;
    align-items: center;
}

.location{
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    background-color: #FAF9F6;
    padding: 50px;
}

.icon{
    display: flex;
    align-items: center;
}

.icon img{
    width: 40px;
}

.ourbanking{
    text-align: center;
}

.info{
    float: left;
    width: 33.33%;
}

.info img{
    width: 90%;
    padding: 20px;
}

.info p{
    color: gray;
}

.info h3{
    font-weight: lighter;
}

.clr{
    clear: both;
}

.ftr{
  background-color: rgba(37, 35, 35, 0.7); 
  display: grid;
  grid-gap: 1rem; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem; 
}

.col {
    padding: 1rem; 
}

.ftr2{
    background-color: rgb(43, 42, 42);
    color: white;
    text-align: center;
    padding: 80px;
}

.ftr2 img{
    width: 300px;
}

.icn img{
    width: 40px;
}

.col .icn{
    align-items: center;
    display: flex;
}





